body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: lightgreen;
}

.top-container {
    height: 649px;
    width: 100%;
    position: relative;
}

.mountain {
    height: 275px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 30%;
}

.h1-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    top: 140px;
    text-align: center;
}

.heading {
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.top-cloud {
    display: inline;
    position: relative;
    top: 300px;
    left: 190px;
}

.bootom-cloud {
    display: line;
    position: relative;
    top: 200px;
    left: 700px;
}